* {
    box-sizing: border-box;
}

.myWorksBlock {
    min-height: 40vh;
    background-color: #9884ad;

}

.worksContainer {

    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #c5c5c5;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}