@import "src/Common/Styles/sass/variables";
@import "src/Common/Styles/sass/mixins";
@import "src/Common/Components/Button/Button.module";

.contacts {
    height: 80vh;
    background-color: $mainBackgroundColor;

    .contactsContainer {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        & h3 {
            font-weight: 600;
            @include text($titleText, 20px, 1.2);
        };
        .form {
            textarea {
                color: $primaryTextColor;
            }
            input {
                color: $primaryTextColor;
            }
            .textField {
                margin-top: 20px;
                min-width: 70%;
            }
            min-height: 70%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $blocksBackgroundColor;
            box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px $blocksBackgroundColor;
            margin-bottom: 40px;
            .errorText {
                color: red;
                font-size: 12px;
            }
            .btnDisabled{
                width: 40%;
                background-color: $primaryTextColor;
                color: black;
                border-radius: 15px;
                padding: 10px 40px;
                opacity: 0.3;
            }
            .button {
                width: 40%;
                background-color: $primaryTextColor;
                color: black;
                border-radius: 10px;
                padding: 10px 40px;
                margin-bottom: 20px;
                &:hover {
                    background-color: $accentColor;
                    color: $primaryTextColor
                }

            @media screen and (max-width: 400px) {
                    width: 100%
            }
        }

        }
    }
}






