.contacts {
    height: 50vh;
    background-color: #d9b4b4;
}

.contactsContainer {

    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.form {
    border: 1px solid;
    min-height: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: darkgrey;
}

.form input,  .form textarea {
    width: 100%;
}

.button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #eeeef5;
}


@media screen and (max-width: 500px) {
    .form {
        width: 100%
    }
}