* {
    box-sizing: border-box;
}

.workContainer {

    background-color: darkgrey;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    width: 100%;
    height: 150px;
    background-color: hotpink;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXPfnIvxJIn0-GjeSgq0NzzDrk4LPRbfy0gw&usqp=CAU");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.moreDetailsBlock {
    background-color: yellow;
    border: 1px solid;
    text-decoration: none;
    padding: 5px;
}



.descriptionBlock {

    background-color: #c09a9a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.title {
    border: 1px solid;
    padding: 5px;
    background-color: #99d0fb;
}

.description {
background-color: #ffd4f0;
    border: 1px solid;
    padding: 5px;
}