.skill {
    width: 250px;
    background-color: #e9eae9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 20px;
    box-sizing: border-box;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: darkgrey;
}

.description {
text-align: center;
}

