.remoteWorkBlock {
    height: 50vh;
    background-color: #eaeab6;
}

.remoteBlockContainer {
justify-content: center;

}

.remoteBlock {
    width: 80%;
    height: 50%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

