.remoteWorkBlock {
    height: 30vh;
    background-color: #eaeab6;
}

.remoteBlockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eaeab6;
    text-align: center;
}

.button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #eeeef5;
}


