* {
    box-sizing: border-box;
}

.skillsBlock {
    min-height: 60vh;
    background-color: #212529;

}

.skillsContainer {

    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #e5e3e3;
}

.skills {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 629px) {
    .skills {
        justify-content: center;

    }
}