* {
    box-sizing: border-box;
}

.skillsBlock {
    min-height: 40vh;
    background-color: #c7dcc7;

}

.skillsContainer {

    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #e5e3e3;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}