@import "src/Common/Styles/sass/variables";
@import "src/Common/Styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background-color: $mainBackgroundColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  .greeting {
    width: 500px;

    .welcome {
      margin-top: 90px;
      font-weight: 400;
      letter-spacing: 2px;
      @include text($descriptionText, 20px, 1.2);
      margin-bottom: 30px;
      color: #ffffff;
      @media (max-width: 1020px) {
        margin-top: 90px;
      }
    }
  ;
    .name {
      font-weight: 600;
      @include text($descriptionText, 40px, 1.2);
      color: $accentColor;
      @media (max-width: 620px) {
        font-size: 26px;
      }
    }
  ;
    .profession {
      margin-top: 20px;
      font-weight: 600;
      @include text($descriptionText, 40px, 1.2);
      color: #ffffff;
      @media (max-width: 620px) {
        font-size: 26px;
      }
    }
  }
;

  .photoContainer {
    position: relative;
    z-index: 1;
    .photo {
      width: 300px;
      height: 400px;
      background-color: $blocksBackgroundColor;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px $blocksBackgroundColor;
      border-radius: 5px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 110%;
        width: 105%;
        border: 5px solid $accentColor;
        left: 15px;
        top: -24px;
        z-index: -1;
      }
    }
    @media (max-width: 1020px) {
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}




